<!doctype html>
<html class="h-full" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {% style %}
      {% for scheme in settings.color_schemes -%}
        {% if forloop.index == 1 -%}
        :root,
      {%- endif %}
      .color-scheme-{{ scheme.id }} {   
        --color-primary: {{ scheme.settings.primary.red }} {{ scheme.settings.primary.green }} {{ scheme.settings.primary.blue }};   
        --color-secondary: {{ scheme.settings.secondary.red }} {{ scheme.settings.secondary.green }} {{ scheme.settings.secondary.blue }};   
    }
    {% endfor %}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    -%}

    {{ settings.type_body_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.type_header_font | font_face: font_display: 'swap' }}

    :root {   
      --font-body-family: {{ settings.type_body_font.family }},{{ settings.type_body_font.fallback_families }};   
      --font-body-weight: {{ settings.type_body_font.weight }};   
      --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};   

      --font-heading-family: {{ settings.type_header_font.family }},{{ settings.type_header_font.fallback_families }};   
      --font-heading-weight: {{ settings.type_header_font.weight }};   

      --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};   
  }

    {% if settings.type_header_font.style == 'italic' %}
      .font-heading { font-style: italic; }
    {% endif %}

    {% if settings.type_body_font.style == 'italic' %}
      .font-body { font-style: italic; }
    {% endif %}

    html { font-size: calc(var(--font-body-scale) * 100%); }
  {% endstyle %}

  <script src="{{ 'scripts.js' | asset_url }}" defer="defer"></script>
</head>

<body class="flex flex-col h-full">
  {% sections 'header-group' %}
  <main class="flex-shrink-0">
    {{ content_for_layout }}
  </main>
  {% sections 'footer-group' %}
</body></html>