<div x-data="{sectionId:'{{ section.id }}'}" x-ref='section'>
  main collection
  <h1>{{ collection.title }}</h1>
  {% if collection.description != blank %}
    <div>
      {{ collection.description }}
    </div>
  {% endif %}

  <div>
    {%- liquid
      assign sort_by = results.sort_by | default: results.default_sort_by
      assign total_active_values = 0
      if results.url
        assign results_url = results.url
      else
        assign terms = results.terms | escape
        assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
      endif
    -%}

    <h1>Sort & filter</h1>
    <div>
      <h2>Existing filters:</h2>
    </div>
    <form
      @submit.prevent='
        const formData = new FormData($el);
        for (const [key, value] of formData.entries()) {
          if (value === "") {
            formData.delete(key);
          }
        }
        const queryString = new URLSearchParams(formData).toString();
        fetch(`?section_id=${$data.sectionId}&${queryString}`).then(async (res)=> {
          $refs.section.parentNode.outerHTML = await res.text();
          history.pushState({}, "", `?${queryString}`);
        })
      '
    >
      <input type='submit'>
      <div>
        <h2>Filter</h2>
        {%- for filter in collection.filters -%}
          <div>{{ filter.label }}</div>
          <a href='{{ filter.url_to_remove }}'>remove</a>

          {% if filter.type == 'list' %}
            <ul>
              {%- liquid
                assign sorted_values = filter.values
                if filter.operator == 'AND'
                  assign active_filter_values = filter.values | where: 'active', true
                  assign inactive_filter_values = filter.values | where: 'active', false
                  assign sorted_values = active_filter_values | concat: inactive_filter_values
                endif
              -%}
              {%- for value in sorted_values -%}
                <li class='list-menu__item facets__item{% if forloop.index > show_more_number and filter_type == 'vertical' %} show-more-item hidden{% endif %}'>
                  <label
                    for='Filter-{{ filter.param_name | escape }}-{{ forloop.index }}'
                  >
                    <input
                      type='checkbox'
                      name='{{ value.param_name }}'
                      value='{{ value.value }}'
                      id='Filter-{{ filter.param_name | escape }}-{{ forloop.index }}'
                      {% if value.active %}
                        checked
                      {% endif %}
                      {% if is_disabled %}
                        disabled
                      {% endif %}
                    >

                    <span>{{- value.label | escape }} - {{ value.count }}</span>

                    {% comment %}
                      {% if has_visual_display %}
                          <div class="facets__visual-display-wrapper">
                              {% render 'visual-display',
                                      type: value.display.type,
                                      value: value.display.value,
                                      presentation: filter.presentation
                              %}
                          </div>
                      {% else %}
                          <svg
                                  width="1.6rem"
                                  height="1.6rem"
                                  viewBox="0 0 16 16"
                                  aria-hidden="true"
                                  focusable="false"
                          >
                              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                          </svg>

                          <svg
                                  aria-hidden="true"
                                  class="icon icon-checkmark"
                                  width="1.1rem"
                                  height="0.7rem"
                                  viewBox="0 0 11 7"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                          >
                              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                    stroke="currentColor"
                                    stroke-width="1.75"
                                    stroke-linecap="round"
                                    stroke-linejoin="round" />
                          </svg>
                      {% endif %}

                      <span class="facet-checkbox__text" aria-hidden="true">
                              {{- value.label | escape }} ({{ value.count }})</span
                      >
                      <span class="visually-hidden">
                              {{- value.label | escape }} (
                              {%- if value.count == 1 -%}
                                  {{- 'products.facets.product_count_simple.one' | t: count: value.count -}}
                              {%- else -%}
                                  {{- 'products.facets.product_count_simple.other' | t: count: value.count -}}
                              {%- endif -%}
                              )</span
                      >
                    {% endcomment %}
                  </label>
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if filter.type == 'price_range' %}
            {% if filter.min_value.value %}
              <div>{{ filter.min_value.value | money }}</div>
            {% endif %}
            <input
              type='number'
              placeholder='0'
              min='0'
              value='{{ filter.min_value.value | money_without_currency | replace: ',', '' }}'
              max='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
              name='{{ filter.min_value.param_name }}'
            >

            <input
              type='number'
              placeholder='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
              min='0'
              value='{{ filter.max_value.value | money_without_currency | replace: ',', '' }}'
              max='{{ filter.range_max | money_without_currency | replace: ',', '' }}'
              name='{{ filter.max_value.param_name }}'
            >
            {% if filter.max_value.value %}
              <div>{{ filter.max_value.value | money }}</div>
            {% endif %}
          {% endif %}

          <hr>
        {%- endfor -%}
      </div>
      <div>
        <h2>Sort</h2>
        <label for='SortBy'>{{ 'products.facets.sort_by_label' | t }}</label>
        <select
          name='sort_by'
          id='SortBy'
          aria-describedby='a11y-refresh-page-message'
          @change='$el.form.requestSubmit()'
        >
          {%- for option in collection.sort_options -%}
            <option
              value='{{ option.value | escape }}'
              {% if option.value == sort_by %}
                selected='selected'
              {% endif %}
            >
              {{ option.name | escape }}
            </option>
          {%- endfor -%}
        </select>
      </div>
      <div>
        <h2>Count</h2>
        <h2>
          {%- if collection.results_count -%}
            {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
          {%- elsif collection.products_count == collection.all_products_count -%}
            {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
          {%- else -%}
            {{
              'products.facets.product_count'
              | t: product_count: collection.products_count, count: collection.all_products_count
            }}
          {%- endif -%}
        </h2>
      </div>
    </form>
  </div>

  <div>
    <h1>Products</h1>
    {%- paginate collection.products by 20 -%}
      {% comment %}no product to show{% endcomment %}
      {%- if collection.products.size == 0 -%}
        {{
          'sections.collection_template.use_fewer_filters_html'
          | t: link: collection.url, class: 'underlined-link link'
        }}

      {%- else -%}
        <ul>
          {%- for product in collection.products -%}
            <li>
              <a href='{{ product.url }}'>{{ product.title }}</a>
            </li>
          {%- endfor -%}
        </ul>

        {%- if paginate.pages > 1 -%}
          {{- paginate | default_pagination -}}
        {%- endif -%}
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": []
}
{% endschema %}
