
{% comment %}
{% assign variant_images = product.images %}

{% assign variant_image = variant_images | first %}

{{ product | json }}

{% if variant_image %}
    <div class="product__image-wrapper">
        <img src="{{ variant_image | img_url: '1024x1024' }}" alt="{{ product.title | escape }}">
    </div>
{% endif %}
{% endcomment %}

{% comment %}
Use media
{% endcomment %}

{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
{{ variant_images.size }}
{% for image in variant_images %}
    {{ image | json }}
    <img src="{{ image | img_url: '1024x1024' }}" alt="{{ product.title | escape }}">
{% endfor %}


{% schema %}
{
  "name": "Product",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": []
}
{% endschema %}
