<div x-data='{ variants: {{ product.variants | json }}, variant: {{ product.selected_or_first_available_variant | json }} }'>
  <div>{{ product.title }}</div>
  <div>
    <div x-text='variant.title'>{{ product.selected_or_first_available_variant.title }}</div>
    {%- assign variant_price = product.selected_or_first_available_variant.price -%}
    {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
    <div x-text='$money(variant.price, window.money_with_currency_format)'>
      {{ variant_price | money_with_currency }}
    </div>
    <div x-text='$money(variant.compare_at_price, window.money_with_currency_format)'>
      {{ variant_price_compare | money_with_currency }}
    </div>
  </div>
  <div>
    {% for variant in product.variants %}
      <label>
        {{ variant.title }}
        <input
          type='radio'
          name='id'
          value='{{ variant.id }}'
          {% if variant.id == product.selected_or_first_available_variant.id %}
            {{- 'checked' -}}
          {% endif %}
          x-on:change='variant = variants.find(variant => variant.id == $event.target.value);'
        >
      </label>
    {% endfor %}
  </div>

  {% comment %}<pre x-text='JSON.stringify(variant, null, 2)'></pre>{% endcomment %}
  <div>
    <h2>Featured image</h2>
    <img
      src='{{ product.selected_or_first_available_variant.featured_image | image_url: width: 1024 }}'
      loading='lazy'
      class='block w-40'
      srcset='
        {{ product.selected_or_first_available_variant.featured_image | image_url: width: 512 }} 512w,
        {{ product.selected_or_first_available_variant.featured_image | image_url: width: 1024 }} 1024w,
        {{ product.selected_or_first_available_variant.featured_image | image_url: width: 1536 }} 1536w,
        {{ product.selected_or_first_available_variant.featured_image | image_url: width: 2048 }} 2048w
      '
      :srcset='$genImgSrcSet(variant.featured_image.src, [512, 1024, 1536, 2048])'
      :src='variant.featured_image.src'
    >
  </div>

  <div>
    <h2>All Media</h2>
    {% for media in product.media %}
      {{
        media.preview_image
        | image_url: width: 1024
        | image_tag: loading: lazy, sizes: sizes, class: 'block w-40', widths: '512, 1024, 1536, 2048'
      }}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": []
}
{% endschema %}
